<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          z integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title th:text="${user.id == null} ? 'User create' : 'User update'"></title>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')">

    <a href="/logout">Logout</a><br/>
    <a href="/admin/users">Back</a><br/><br/>
    <br/>

    <h1>Set role</h1>
    <form method="post" th:Object="${user}" th:action="@{/admin/setRole/{id}(id=${user.id})}">
        <input id="id" th:field="*{id}" type="hidden"/>
        <div>
            <label>Role:</label>
            <input name="role" type="text"/>
        </div>
        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>