<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>User list</title>
    <style>
        .buttonToLink {
            background: none;
            border: none;
            color: red
        }

        .buttonToLink:hover {
            background: none;
            text-decoration: underline;
        }
    </style>
</head>
<body>

<h1>User list</h1>

<div sec:authorize="hasRole('ROLE_ADMIN')">

    <a href="/admin/create">Create user</a><br/>
    <a href="/admin/allRole">Role List</a><br/>
    <a href="/logout">Logout</a><br/>
    <a href="/admin">Back</a><br/><br/>
    <br/>

    <div th:if="${userList.isEmpty}">
        <div>No data</div>
    </div>

    <div th:if="${!userList.isEmpty()}">
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Update user</th>
                <th>Set role</th>
                <th>Remove user</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${userList}">
                <td><a th:href="@{/admin/user/{id}(id=${user.id})}" th:text="${user.name}"></a></td>
                <td><a th:href="@{/admin/user/{id}(id=${user.id})}" th:text="${user.lastName}"></td>
                <td><a th:href="@{/admin/update/{id}(id=${user.id})}">update</a></td>
                <td><a th:href="@{/admin/setRole/{id}(id=${user.id})}">set role</a></td>
                <td>
                    <form th:action="@{/admin/remove/{id}(id=${user.id})}" th:method="post">
                        <button class="buttonToLink" type="submit">remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>